@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Tulpen+One&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #f06023;
  --color-light-primary: #f5e6d3;
  --color-green: #1a9461;

  --font-pt-sans: "PT Sans Narrow", sans-serif;
  --font-tulpen-one: "Tulpen One", cursive;
}

::selection {
  @apply bg-primary text-white;
}

.badge {
  @apply bg-green text-white font-bold py-2 px-4 rounded-full text-sm;
}

.cat-badge {
  @apply border hover:bg-orange-300 hover:text-white font-bold py-2 px-4 rounded-full text-sm transition-all duration-150 ease-in-out;
}

.cat-badge.active {
  @apply bg-[#f06023] text-white;
}