@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Tulpen+One&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #f06023;
  --color-light-primary: #f5e6d3;
  --color-green: #1a9461;

  --font-pt-sans: "PT Sans Narrow", sans-serif;
  --font-tulpen-one: "Tulpen One", cursive;
}

html, body {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="1" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
}

.cursor-primary {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="%23f06023" stroke="%23000" stroke-width="1" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
}

::selection {
  @apply bg-primary text-white;
}

.badge {
  @apply bg-green text-white font-bold py-2 px-4 rounded-full text-sm;
}

.cat-badge {
  @apply border hover:bg-orange-300 hover:text-white font-bold py-2 px-4 rounded-full text-sm transition-all duration-150 ease-in-out;
}

.cat-badge.active {
  @apply bg-[#f06023] text-white;
}